#   Intel oneAPI OCI
#   Copyright (c) 2026 Andrea and Eric DELAGE <Contact@by-EAjks.Com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program.  If not, see <https://www.gnu.org/licenses/>.

name: Build and deploy

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
    tags:
      - 'v\d+.\d+.\d+'

env:
  IMAGE_REPOSITORY: eajkseajks
  IMAGE_NAME: intel-oneapi

jobs:
  build-and-push-container-images:
    permissions:
      contents: read
      packages: write
      id-token: write
      security-events: write
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/tags
      - name: Checkout the Git repository
        uses: actions/checkout@v6
      # https://github.com/docker/setup-buildx-action/tags
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      # https://github.com/sigstore/cosign-installer/tags
      # https://github.com/sigstore/cosign/releases
      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0
        with:
          cosign-release: v3.0.4
      # https://github.com/docker/login-action/tags
      - name: Login into Docker.IO
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{secrets.DOCKER_HUB_USERNAME}}
          password: ${{secrets.DOCKER_HUB_ACCESS_TOKEN}}
      # https://github.com/docker/metadata-action/tags
      - id: extract-metadata-runtime-base
        name: Extract Docker metadata
        uses: docker/metadata-action@v5
        with:
          context: workflow
          images: |
            ${{env.IMAGE_REPOSITORY}}/${{env.IMAGE_NAME}}
          flavor: |
            latest=false
            prefix=,onlatest=true
            suffix=-runtime-base,onlatest=true
          tags: |
            type=ref,event=branch
            type=ref,prefix=pr-,event=pr
            type=match,pattern=v\d+.\d+-\d+
            type=match,pattern=v\d+.\d+
            type=match,pattern=v\d+
            type=sha,prefix=sha-,format=short
            type=raw,enable={{is_default_branch}},value=latest
      # https://github.com/docker/build-push-action/tags
      - id: build-and-push-runtime-base
        name: Build and push the runtime/base container image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.runtime-base
          tags: ${{steps.extract-metadata-runtime-base.outputs.tags}}
          labels: ${{steps.extract-metadata-runtime-base.outputs.labels}}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
      # https://github.com/aquasecurity/trivy-action/tags
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{env.IMAGE_REPOSITORY}}/${{env.IMAGE_NAME}}@${{steps.build-and-push-runtime-base.outputs.digest}}
          format: sarif
          output: trivy-results.sarif
          severity: CRITICAL,HIGH,MEDIUM
      # https://github.com/codeql-action/upload-sarif/tags
      - name: Upload Trivy scan results to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-results.sarif
          category: runtime/base
      - name: Sign the published runtime/base container image (using Cosign)
        env:
          TAGS: ${{steps.extract-metadata-runtime-base.outputs.tags}}
          DIGEST: ${{steps.build-and-push-runtime-base.outputs.digest}}
        run: |
          for TAG in ${TAGS}; do
            cosign sign --yes ${TAG}@${DIGEST}
          done
      # https://github.com/docker/metadata-action/tags
      - id: extract-metadata-runtime-core
        name: Extract Docker metadata
        uses: docker/metadata-action@v5
        with:
          context: workflow
          images: |
            ${{env.IMAGE_REPOSITORY}}/${{env.IMAGE_NAME}}
          flavor: |
            latest=false
            prefix=,onlatest=true
            suffix=-runtime-core,onlatest=true
          tags: |
            type=ref,event=branch
            type=ref,prefix=pr-,event=pr
            type=match,pattern=v\d+.\d+-\d+
            type=match,pattern=v\d+.\d+
            type=match,pattern=v\d+
            type=sha,prefix=sha-,format=short
            type=raw,enable={{is_default_branch}},value=latest
      # https://github.com/docker/build-push-action/tags
      - id: build-and-push-runtime-core
        name: Build and push the runtime/core container image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.runtime-core
          build-args: |
            IMAGE_REPOSITORY=${{env.IMAGE_REPOSITORY}}
            IMAGE_NAME=${{env.IMAGE_NAME}}
            IMAGE_SHA=${{steps.build-and-push-runtime-base.outputs.digest}}
          tags: ${{steps.extract-metadata-runtime-core.outputs.tags}}
          labels: ${{steps.extract-metadata-runtime-core.outputs.labels}}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
      # https://github.com/aquasecurity/trivy-action/tags
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{env.IMAGE_REPOSITORY}}/${{env.IMAGE_NAME}}@${{steps.build-and-push-runtime-core.outputs.digest}}
          format: sarif
          output: trivy-results.sarif
          severity: CRITICAL,HIGH,MEDIUM
      # https://github.com/codeql-action/upload-sarif/tags
      - name: Upload Trivy scan results to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-results.sarif
          category: runtime/core
      - name: Sign the published runtime/core container image (using Cosign)
        env:
          TAGS: ${{steps.extract-metadata-runtime-core.outputs.tags}}
          DIGEST: ${{steps.build-and-push-runtime-core.outputs.digest}}
        run: |
          for TAG in ${TAGS}; do
            cosign sign --yes ${TAG}@${DIGEST}
          done
      # https://github.com/docker/metadata-action/tags
      - id: extract-metadata-sdk-core
        name: Extract Docker metadata
        uses: docker/metadata-action@v5
        with:
          context: workflow
          images: |
            ${{env.IMAGE_REPOSITORY}}/${{env.IMAGE_NAME}}
          flavor: |
            latest=false
            prefix=,onlatest=true
            suffix=-sdk-core,onlatest=true
          tags: |
            type=ref,event=branch
            type=ref,prefix=pr-,event=pr
            type=match,pattern=v\d+.\d+-\d+
            type=match,pattern=v\d+.\d+
            type=match,pattern=v\d+
            type=sha,prefix=sha-,format=short
            type=raw,enable={{is_default_branch}},value=latest
      # https://github.com/docker/build-push-action/tags
      - id: build-and-push-sdk-core
        name: Build and push the sdk/core container image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.sdk-core
          build-args: |
            IMAGE_REPOSITORY=${{env.IMAGE_REPOSITORY}}
            IMAGE_NAME=${{env.IMAGE_NAME}}
            IMAGE_SHA=${{steps.build-and-push-runtime-core.outputs.digest}}
          tags: ${{steps.extract-metadata-sdk-core.outputs.tags}}
          labels: ${{steps.extract-metadata-sdk-core.outputs.labels}}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
      # https://github.com/aquasecurity/trivy-action/tags
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{env.IMAGE_REPOSITORY}}/${{env.IMAGE_NAME}}@${{steps.build-and-push-sdk-core.outputs.digest}}
          format: sarif
          output: trivy-results.sarif
          severity: CRITICAL,HIGH,MEDIUM
      # https://github.com/codeql-action/upload-sarif/tags
      - name: Upload Trivy scan results to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-results.sarif
          category: sdk/core
      - name: Sign the published sdk/core container image (using Cosign)
        env:
          TAGS: ${{steps.extract-metadata-sdk-core.outputs.tags}}
          DIGEST: ${{steps.build-and-push-sdk-core.outputs.digest}}
        run: |
          for TAG in ${TAGS}; do
            cosign sign --yes ${TAG}@${DIGEST}
          done
